<footer class="row">
    <div class="col-md-6"
 
              <h3><a href="https://www.coloradocollege.edu">Colorado College</a></h3>
        
        <p class="address">
          14 East Cache La Poudre St.<br>
          Colorado Springs, CO 80903<br>
          <a href="https://www.coloradocollege.edu/basics/campus/campusmap/">Map</a> &amp; <a href="https://www.coloradocollege.edu/basics/campus/directions/">Directions</a>
        </p>
   </div>
    <div class="col-md-6">
        <nav>
          <ul class="nav">
            <li id="nav-offices-and-services" class="col-md-4"><a href="https://www.coloradocollege.edu/basics/offices/">Offices &amp; Services</a></li>
              <li id="nav-tutt-library"  class="col-md-4"><a href="https://www.coloradocollege.edu/library">Tutt Library</a></li>
              <li id="nav-contact-us"  class="col-md-4"><a href="https://www.coloradocollege.edu/basics/contact">Contact Us</a></li>
            </ul>
            <ul class="nav">
              <li id="nav-check-email" class="col-md-4"><a href="https://www.coloradocollege.edu/ssi">Sign into CC</a></li>
              <li id="nav-working-at-cc" class="col-md-4"><a href="https://www.coloradocollege.edu/offices/humanresources/">Working at CC</a></li>
              <li id="nav-site-feedback" class="col-md-4"><a target="_blank" href="https://www.coloradocollege.edu/home/feedback.html?pageUrl=https://cas.coloradocollege.edu/cas/login">Site Feedback</a></li>
              </ul>
        </nav>
</footer>
