<footer class="row">

  <div>
    <h4>About</h4>
    <p>
      •<a href="//specialcollections.du.edu/about/overview">Special Collections @ DU Overview</a><br />
      •<a href="//specialcollections.du.edu/about/contact">Contact Us</a><br />
      •<a href="//specialcollections.du.edu/about/faqs">FAQs</a>
    </p>
  </div>

  <div>
    <h4>Content</h4>
    <p>
    •<a href="//specialcollections.du.edu/content/copyright-information">Copyright Information</a>
    </p>
  </div>

  <div>
    <h4>Services</h4>
    <p>
    •<a href="//specialcollections.du.edu/services/consultation-and-training">Consultation and Training</a><br />
    •<a href="//specialcollections.du.edu/services/digital-content-management">Digital Content Management</a>
    </p>
  </div>

  <div>
    <h4>Help</h4>
    <p>
    •<a href="//specialcollections.du.edu/help/glossary">Glossary</a>
    </p>
  </div>

</footer>



<!-- <section class="col-3"> -->
