{% block more_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"></link>
<style>
    body {
        background-color: #f6efe9;
    }


    div.card-header {
        background-color: rgb(205,202,180);
    }

    div.header {
        font-family: Neofill,Verdana !important;
        padding-top: 1.5em;
        padding-bottom: 1em; 
    }

    div.search-header {
        background-color: #2d4873;
        color: #fff;
        margin-top: .5em;
        padding: .5em;
    }

    div.library-tabs {
        background-image: url("{{ url_for('static', filename='img/busy-library.jpg') }}");
        height: 75px;
    }

    a.tab {
        color: #fff;
        background-color: #4b6282;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        display: inline;

    }

    a.tab-highlight {
        background-color: #fddb55;
        color: #1f375a;
    }

    h1.search-header, h3.search-header {
        color: #fddb55;
    }


    a.header {
        color: #000;
        font-weight: bold;
        {#font-size: 1.21em;#}
        font-family: montserrat;
    }

    footer {
        padding: 16px 0;
        color: #fff;
        background: #292C34;
    }

    footer.a {
        color: #fff;
    }

    form.search-box {
        background-color: #f1ece5;
        border: 5px solid #ffffff;
        padding-left: 10px;
        padding-top: 15px;
    }

    a.search-box {
        color: 	rgb(150,23,46);
        font-size: 11pt;
        font-weight: bold;
    }
</style>
{% endblock %}
<div class="header container">
    <div class="row" >
        <div class="col-md-8">
            <img src="{{ url_for('static', filename='img/cc-logo.png') }}" 
                 style="padding-bottom: 1em;"
                 alt="Colorado College Logo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="https://www.coloradocollege.edu/basics/welcome/index.html" class="header">The Basics</a>
        </div>
        <div class="col-md-2">
            <a href="https://www.coloradocollege.edu/academics/curriculum/index.html" class="header">Academics</a> 
        </div>
        <div class="col-md-2">
            <a href="http://www.coloradocollege.edu/lifeatcc" class="header">Life at CC</a>
        </div>
        <div class="col-md-2">
            <a href="http://www.coloradocollege.edu/admission" class="header">Admission &amp; Aid<?a>
        </div>
        <div class="col-md-2">
            <a href="http://www.coloradocollege.edu/newsevents" class="header">News &amp; Events</a>
        </div>
        <div class="col-md-2">
            <a href="http://www.coloradocollege.edu/us/students" class="header">For Us</a>
        </div>
    </div>
</div>
<div class="library-tabs">
    <div class="container">
        <br><br>
        <ul class="nav nav-fill">
            <li class="nav-item  align-bottom">
                <a href="https://www.coloradocollege.edu/library/" class="nav-link tab">Tutt Library Home</a>
            </li>
            <li class="nav-item">
                <a href="https://www.coloradocollege.edu/library/renovation/index.html" 
                    class="nav-link tab tab-highlight">Library Renovation</a>
            </li>
            <li class="nav-item">
                <a href="https://www.coloradocollege.edu/library/about/" 
                   class="nav-link tab">About the Library</a>
            </li>
            <li class="nav-item">
                <a href="https://www.coloradocollege.edu/library/resources/"
                    class="nav-link tab">Find Resources</a>
            </li>
            <li class="nav-item">
                <a href="https://www.coloradocollege.edu/library/help/"
                   class="nav-link tab tab-highlight">Help &amp; How-To's</a>
            </li>
        </ul>
    </div>{# END container DIV #}
</div>{# END library-tabs DIV #}
