{% extends 'discovery/base.html' %}

{% block container %}
<div class="container">
		{% include "discovery/search-panel-row.html" %}
		<div class="row" style="margin-top: 3em;">
		<h3>Digital CC Takedown Policy</h3>
	<p>Colorado College makes a conscious effort to ensure all content posted is in compliance with the Digital Millennium Copyright Act (DMCA). We understand that, while we take appropriate measures to ensure that all posted content is compliant with the DMCA, cases that violate the DMCA may still occur. In the event that copyrighted material is posted without the express permission of the copyright holder, we shall remove said content upon the request of the copyright holder. A copyright holder or a person authorized to act on behalf of the copyright holder may request the removal of any infringing material by submitting a DMCA take down request.</p>

    <h4>The DMCA take down request must provide:</h4>
    <p>1. A physical or electronic signature (i.e., /s/NAME) of a person authorized to act on behalf of the owner of the copyright that is allegedly infringed.</p>
    <p>2. Identification of the copyrighted work claimed to have been infringed.</p>
    <p>3. Identification of the material that is claimed to be infringing and information reasonably sufficient to permit the service provider to locate the material.</p>
    <p>4. Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</p>
    <p>5. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner.</p>
    <p>6. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of the copyright that is allegedly infringed.</p>

    <p><b>Requests must be sent to Sarah Bogard at sarah.bogard@coloradocollege.edu, Tutt Library, 1021 N. Cascade, Colorado Springs, CO 80903 or 719-389-6875.<b></P>
		</div>
</div>
{% endblock %}