{% extends 'discovery/base.html' %}

{% block container %}
<div class="container">
		{% include "discovery/search-panel-row.html" %}
		<div class="row" style="margin-top: 3em;">
		<h3>How to contribute to Digital CC</h3>
	<p>If you have materials that that should be preserved as part of Colorado College's history, please contact Sarah Bogard, Digital Innovations Librarian, at sarah.bogard@coloradocollege.edu or call 719-389-6875 to make arrangements for file transfer.</p>
    <p>It is impossible to collect everything digital produced on campus! However, official publications of the college as well as scholarship of students and faculty are given top priority. We collect the following and more:</p>
    <p>Student publications (Catalyst, Cipher, Leviathan, Alpine Journal and more)</p>
    <p>Academic departments and programs (newsletters, department histories)</p>
    <p>Campus events (First Mondays, State of the Rockies, Big Idea)</p>
    <p>Student organizations on campus</p>
    <p>Student theses and capstones (including student films)</p>
    <p>Athletic team and player photographs</p>
    <p>Statistics about the College</p>
    <p>Commencement and convocation videos</p>
    <p>Podcasts and videos</p>
		</div>
</div>
{% endblock %}
