{% extends 'discovery/base.html' %}

{% block more_css %}
 <link href="{{ url_for('static', filename='css/jquery-ui-1.8.13.custom.css') }}" rel="stylesheet" />
 <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
 <link href="{{ url_for('static', filename='css/discovery.css') }}" rel="stylesheet" /> 
{% endblock %}

{% block library_breadcrumb %}
 <div id="breadcrumb"></div>
{% endblock %}

{% block results_detail %}
{% endblock %}


{% block results_list %}
{% endblock %}


{% block more_scripts %}
{# comment %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
{% endcomment #}
<script src="{{ url_for('static', filename='js/discovery.js') }}"></script>
{#<script src="{{ STATIC_URL }}js/google-analytics.js"></script>#}
<script>
 $(function() {
   $("#cart-dlg").on('show', function() {
     ShowCart("{{ session_id }}")
   });
 });
 var viewModel = new simpleViewModel();
 ko.applyBindings(viewModel);
 if(viewModel.searchResults().length < 1) {
	 viewModel.initDisplay("{{ pid }}");
 }
</script>
{% endblock more_scripts %}

{% block dialogs %}
<div id="search_dialog" class="modal hide">
{% include 'discovery/snippets/search_history_dialog.html' %}
</div>
<div id="cart-dlg" class="modal hide">
{% include 'discovery/snippets/cart_dialog.html' %}
</div>
{% endblock %}
