<form class="form-search" data-bind="submit: searchCatalog">
  <div class="row">
    <section class="col-md-1">
      <img src="{{ url_for('static', filename="img/mag-glass.png") }}" {#style="float:left"#}/>
    </section>
    <section class="col-md-2">
      <select data-bind="click: searchRouting,
                         options: searchingOptions,
                         optionsText: 'name',
                         value: chosenSearch" style="width:100px"
         class="form-control">
      </select>
    </section>
    <section class="col-md-6">
     {# <select data-bind="options: numberOptions,
                         optionsText: 'name',
                         value: chosenNumberOption,
                         visible: shouldShowNumber"
          class="form-control" > 
      </select> #}
      <input 
             data-bind="value: searchQuery"
             name="q" 
             type="text" 
             style="width:270px;padding-top:5px;" 
             class="form-control" 
             placeholder="Search TIGER" 
             value="{{ request.path }}"></input>
    </section>
    <section class="col-md-2">
      <input type="submit" class="btn btn-primary" value="Go"></input>
    </section>
    {#  <label class="checkbox" style="float:left;padding-top:5px;padding-right:5px;">
        <input type="checkbox" data-bind="checked: exactSearch"> Exact Search</input> #}
  </div>
</form>
