{# START facet-listing Accordion #}
<div class="accordion" id="facet-listing">
 <div class="accordion-group" data-bind="foreach: facets">
   {# START facet accordion heading #}
   <div class="accordion-heading facet-heading">
    <a class="accordion-toggle" 
       data-toggle="collapse" 
       data-parent="facet-listing"
       data-bind="attr: { href: '#'+facetSlug}, 
                 text: facetName,
                 visible: buckets().length > 0
                 "></a> 
   {# END facet accordion heading #}
   </div>
   {# START facet accordion body #}
   <div {#class="accordion-body collapse" #}
     data-bind="attr: { id: facetSlug }, 
                css: { in: $index < 3 }
                visible: buckets().length > 0">

     {# START facet accordion inner #}
     <div class="accordion-inner facet-inner">
      <ul data-bind="foreach: buckets">
       <li>
       	   <a
		data-bind="attr: { 'data-facet': $parent.facetName, 
                                   'data-val': bucketName},
                          click: $root.facetQuery.bind($data, $parent.facetName, bucketName),
                          text: bucketName" href="#">
			   </a> (<span data-bind="text: bucketCount"></span>) </li>
      </ul>
     {# END facet accordion inner #}
     </div>
   {# END facet accordion body #}
   </div>
  </div>
{# END facet-listing Accordion #}
</div>
