<form class="form-search form-inline" data-bind="submit: searchCatalog">
   <img src="{{ url_for('static', filename="img/mag-glass.png") }}" style="float:left"/>
    <div class='form-group'>
       <select data-bind="click: searchRouting,
                          options: searchingOptions,
                          optionsText: 'name',
 			 value: chosenSearch" 
         class="form-control">
       </select>
    </div>
    <div class='form-group'>
            <input 
                 data-bind="value: searchQuery"
                 name="q" 
                 type="text"
                 style="width: 25em;" 
                 class="form-control" 
                 placeholder="Search DigitalCC" 
	         value="{{ request.path }}"></input>
     </div>
     <div class='form-group'>
	<input type="submit" class="btn btn-primary" value="Go"></input>
    </div>	     
</form>
